#container{
    font-family: Arial,sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

button{
    font-size: 1.5rem;
    padding: 15px,10px;
    border-radius: 10px;
    border: none;
    background-color: hsl(160, 100%, 55%);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(160, 100%, 75%);
}

button:active{
    background-color: hsl(160, 100%, 90%);
}

input{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 200px;
    border-radius: 20px;
}

#diceImages img{
    margin: 5px;
    width: 150px;
}